.container{
	margin: 0 auto
}
.navbar{
	background-color: black
}

.navbar-brand{
	color: white;
}
.nav-item{
	color: white;
}
.nav-item1{
	color: #ed6761;
}

.containerP{
	background-color:  #ed6761;
}

.imagen1{
	padding-bottom: 60px;
	padding-top: 40px;
	margin-left: 150px;


}

.imagen2{
	margin-left: 200px;


}

.containerW{
	background-color: #fffff0;
}

.texto{
	color: #8f8f8f;
	padding-top: 30px;

	margin-right: 50px;
	margin-left: 50px;
}
.texto1{
	color: #8f8f8f;
}

.stickers{
	width: 120px;
	height: 120px;
	background-color: transparent;
	border-radius: 100px
}

.containerB{
	background-color: black;
}
.texto2{
	padding-top: 30px;
	color: #8f8f8f;
	margin-right: 50px;
	margin-left: 50px;
}
.aux{
	margin-top: 40px;
}

.nav2{
	display: flex;
	margin-right: 20px;
	list-style: none;
	background-color: transparent;
	color:#8f8f8f; 
}

.container2{
	margin-right: 50px;
	margin-left: 50px;
}
.container1{
	margin-right: 50px;
	margin-left: 50px;
}
.imags{
	width: 220px;
}

.card-deck{
	margin-left: 50px;
	margin-right: 50px
}
.card{
	background-color: #fffff0;
	border: none;
}

.texto3{
	padding-top: 30px;
	color: #fffff0;
	margin-right: 50px;
	margin-left: 50px;
}

.texto4{
	padding-top: 0px;
	color: #fffff0;
}



.form-control{
	border: none;
	background-color: #c86357;
	margin-right: 50px;
}

.logo{
	background-color: transparent;
}

.container6{
	display: flex;
	margin-right: 50px;
}

.btn-outline-dark{
	margin-right: 50px;
}